/* Importing Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@300;400;500;700&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.search-area {
    width: 100%;
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-color: black;
    box-shadow: 10px 10px 5px;
    margin: 20px 0;
}

.search-area form {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.search-bar {
    padding: 10px 20px;
    font-size: 1.2rem;
}

.search-button {
    padding: 15px 20px;
    background-color: tomato;
    outline: none;
    font-weight: 500;
    cursor: pointer;
    font-size: 1rem;
}

.search-button:hover {
    transition: 0.3s;
    border-radius: 30px;
}

.recipes-area {
    width: 100%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 20px;
    justify-content: space-around;
    padding: 20px 10px;
}